
<img routerLink ="/"  class="pilt" src="https://media.istockphoto.com/id/535448652/photo/mercedes-benz-g-class-on-the-road.jpg?s=612x612&w=0&k=20&c=l70-3isHCZpVSJCYYQyIh7C263Hy8hJ0VtmObAj89-c=" alt="">
<button routerLink="/kinkekaardid" class="nupp">kinkekaardid</button>
<button routerLink="/lisa-toode" class="nupp">lisa-toode</button>
<button routerLink="/seaded" class="nupp">seaded</button>
<button routerLink="/ostukorv" class="nupp">ostukorvi</button>
<button routerLink="/kalkulaator" class="nupp">kalkulaator</button>
<button routerLink="/arrays-home" class="nupp">Array'd</button>
<button routerLink="/halda-home" class="nupp">Array lisamised ja kustutamised</button>
<br/><br/>

<router-outlet />
